<ion-header [translucent]="true">
  <ion-toolbar class="header-custom-background" color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-centrado">INCIDENCIAS REGISTRADAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="report-header">
    <h2 class="new-incident">NUEVO INCIDENTE</h2>
  </div>

  <ion-list *ngIf="user">
    <ion-item *ngFor="let incident of incidents; let i = index" lines="none">
      <ion-button expand="full" class="notification-button" 
        [color]="getIncidentColor(incident)"
        (click)="viewIncident(incident)">
        NOTIFICACIÓN {{ i + 1 }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>


