<ion-header [translucent]="true">
  <ion-toolbar class="header-custom-background" color="secondary">
    <ion-title class="titulo-centrado">HISTORIAL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Historial</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="incident">
    <h2>{{ incident.type }}</h2>
    <p>Descripción: {{ incident.description }}</p>
    <p>Zona: {{ incident.place }}</p>
    <p>Piso: {{ incident.floor }}</p>
    <p>Fecha: {{ incident.date | date: 'yyyy-MM-dd' }}</p>
    <p>Hora: {{ incident.timestamp | date: 'shortTime' }}</p>
    <p>Foto:</p>

    <div *ngIf="incident.photo">
      <div class="image-container">
        <img [src]="incident.photo" alt="Imagen del Incidente" class="large-image">
      </div>
    </div>

    <ion-button color="secondary" (click)="navigateTohistorial()">Regresar</ion-button>
  
  </div>
  <div *ngIf="!incident">
    <p>Cargando...</p>
  </div>
</ion-content>
